.navbar {
  /* color for the navbar */
  background-color: rgba(106, 127, 16, 1); 
}


.logo-image {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-nav .nav-item {
  display: block;
}
.nav-item {
  padding: 5px;
  font-weight: bold;
  font-size: larger;
  margin-left: 1px;
  display: block;
}
.nav-item a {
  color: #121111;
}

.nav-item .nav-link:hover  {
  color: #ffffff; /* Change color on hover */
    /* font-weight: bolder; */
}
