.container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: larger;
}
.hero-img {
  height: 40vh;
  width: 100%;
  background-position: center left;

  background-image: url("../image/PSU-Urban_131025_004_CMYK_R.jpg");
  background-size: cover;
}
